*{
    padding: 0;
    margin: 0;
    z-index: 10;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.hidden {
    opacity: 0;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    background-color: #fed136;
    color: white;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 40px;
    opacity: 0.8;
}

.button:hover{
    opacity: 1;
}

.title-special{
    color: white !important;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #333;
}

h3 {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin-top: 20px;
    margin-bottom: 75px;
    font-weight: 400;
}

@media (max-width:768px){
    header {
        height: 389px !important ;
    }
    tabbar {
        display: none;
    }
    nav>.logo {
        padding: 15px !important ;
    }
    nav>.logo>a {
    line-height: 20px;
    color: #fed136;
    font-size: 18px !important ;
    white-space: nowrap;
    }
    nav-mobile {
        display: block !important ;
    }
    header>.banner-text {
        text-align: center;
        padding-top: 50px!important ;
        padding-bottom: 50px !important ;
    }
    header>.banner-text>.banner-lead {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white;
        font-size: 22px !important ;
        line-height: 22px !important ;
        font-style: italic;
        margin-bottom: 25px !important ;
    }
    header>.banner-text>.banner-title { 
        color: white;
        text-transform: uppercase;
        font-size:50px !important ;
        font-weight: 700;
        line-height: 50px !important ;
        margin-bottom: 25px !important ;
    }  
}

header {
    height: 757px;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/16/img/header-bg.jpg);    
}

nav {
    display: flex;
    align-content: center;
    justify-content:space-between;
}

nav>.logo {
    padding: 30px;
}

nav>.logo>a {
    line-height: 20px;
    color: #fed136;
    font-size: 28px;
    white-space: nowrap;
}

nav>tabbar {
    padding: 30px;      
}

nav>tabbar>a {
    color: white;
    padding: 15px;
    line-height: 15px;
    text-transform: uppercase;
}

nav>tabbar>a:hover {
    color: #fed136;
}

nav-mobile {
    display: none;
    padding: 15px ;
}

nav-mobile>.nav-mobile-backgroung {
    border-radius: 4px;
    background-color:  #fed136;
}

nav-mobile>.nav-mobile-backgroung svg {
    fill: white;
    width:24px;
    
}



header>.banner-text {
    text-align: center;
    padding-top: 217px;
    padding-bottom: 200px;
}

header>.banner-text>.banner-lead {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-style: italic;
    margin-bottom: 25px;
}

header>.banner-text>.banner-title { 
    color: white;
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
}

@media (max-width:768px)  {
    #sevices>.content>.row {
        flex-direction: column;
    }
    #sevices>.content>.row>div {

        padding: 15px 15px !important ;
        width: 100% !important ;
    }
    #sevices>.content {    
        padding-top: 100px !important ;
        padding-bottom: 100px !important ;
    }
}

#sevices>.content {    
    padding-top: 150px;
    padding-bottom: 150px;
}

#sevices>.content>.row {
    display: flex;
    align-content: center;
    justify-content: center;
}

#sevices>.content>.row>div {
    padding: 0 15px;
    width: 30%;
} 

#sevices .icon-content {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#sevices .icon-content>.icon-background {
    display : inline-block;
    background-color: #fed136;
    border-radius: 100%;
    padding: 24px;   
}

#sevices .icon {
    width: 48px;
    height: 48px;
    fill: white;
}

#sevices h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0;
    color: #333;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#sevices p {
    text-align: center;
    color: #777;
    font-size: 14px;
    line-height: 1.75;
    margin-bottom: 10px;
}

@media (max-width:768px) {
    #portfolio {    
        padding: 100px 0 !important ;
    }
    #portfolio>.content>.card {
        margin: 0 15px 30px 15px;
        box-shadow: 0 2px 44px 0 rgba(0,0,0,0.14);
        border-radius: 6px;
        width: auto !important;
    }
}

#portfolio {
    padding: 150px 0;
    background-color: #f7f7f7;
}

#portfolio .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#portfolio>.content>.card {
    margin: 0 15px 30px 15px;
    box-shadow: 0 2px 44px 0 rgba(0,0,0,0.14);
    border-radius: 6px;
    width: 30%;
    height: auto;
}

#portfolio>.content>.card>.portfolio-link {
    display: block;
    position: relative;
}

#portfolio>.content>.card>.portfolio-link>.portfolio-hover {
    background: rgba(254, 209, 54, .8);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio>.content>.card>.portfolio-link>.portfolio-hover>.hover-icon-background {
    display: inline-block;
    background-color: #fed136;
    padding: 16px;
    border-radius: 100%;
    opacity: 0.8;
}

#portfolio>.content>.card>.portfolio-link>.portfolio-hover svg {
    fill: white;
    height: 48px;
    width: 48px;    
}

#portfolio>.content>.card>.portfolio-link>.portfolio-hover:hover {
    opacity: 1;
}

#portfolio>.content>.card img {
    display: block;
    max-width: 100%;
    height: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#portfolio .portfolio-text{
    padding: 16px;
}

#portfolio>.content>.card h4{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.1;
    color: inherit;
}

#portfolio>.content>.card p{
    text-align: center;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    color: #777;
    line-height: 1.75;
}

@media (max-width:768px){
    #about {
        padding-top: 100px !important ;
        margin-bottom: -200px !important;
    }
    #about>.content>.timeline {
        padding-bottom: 50px !important ;
    }
    #about>.content>.timeline>.image  {
        padding: 0 15px;
    }
    #about>.content .about-img {
        width: 80px !important ;
        height: 80px !important ;
    }
    #about>.content>.timeline .left {
        display: none !important ;
    }
    #about>.content>.timeline .right {
        opacity: 1 !important ;
        padding: 0 15px 0 15px !important ;
        width: auto !important ;
    }
    #about>.content::before{
        content: "";
        width: 3px;
        background-color: #f1f1f1;
        position: absolute;
        top: 0;
        bottom: 250px !important ;   
        left: 55px;
    }
    #about .mobile {
        opacity: 0 !important ;
        padding: 0 15px 0 15px !important ;
        width: auto !important ;
    }
    #about .about-img h4 {
        width: 80px !important ;
        height: 80px !important ;
        font-size:  10px !important ;
        line-height: 14px !important;
        white-space: nowrap;
        padding: 16px 0;
    }   
}

#about {
    padding: 120px 0;
}

#about>.content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

#about>.content::before{
    content: "";
    width: 3px;
    background-color: #f1f1f1;
    position: absolute;
    top: 0;
    bottom: 100px;   
}

#about>.content>.timeline {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    align-items: flex-start;
}

#about>.content>.timeline .left {
    width: 40%;
    padding: 0 50px;
}

#about>.content>.timeline .mobile {
    width: 40%;
    padding: 0 50px;
    opacity: 0;
}

#about>.content>.timeline .right {
    width: 40%;
    padding: 0 50px;   
}

#about>.content .left h4 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

#about>.content .right h4 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

#about>.content p {
    font-size: 14px;
    line-height: 1.75;
    color: #777;
}

#about>.content>.timeline>.image  {
    display: flex;
    justify-content: center;
    align-items: flex-start;    
}

#about>.content .about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: 120px;
    background-color: #fed136;
    color: #fff;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
}

#about .image h4 {
    font-size: 18px;
    line-height: 26px;
    white-space: nowrap;
}

#about .timeline-special{
    padding: 0 !important;
}

@media (max-width:768px){
    #team {
        padding: 100px 0 !important;
    }
    #team>.content {
        flex-direction: column;
    }
}

#team {
    padding: 150px 0;
    background: #f7f7f7;
}

#team>.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#team>.content>.person {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
}

#team>.content img {
    border-radius: 100%;
    border: 7px solid #fff; 
}

#team>.content h4 {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    color: #333333;
    text-align: center;
}

#team p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.75;
    color: #777777;
    text-align: center;
}

#team>.content .social-buttons {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

#team>.content .social-buttons> a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 8px;
    margin-right: 8px;
}

#team>.content .social-buttons> a:hover {
    background-color: #fed136;
}

#team svg {
    fill: white;
    height: 20px;
    width: auto;
}

@media (max-width:768px){
    #clients {
        flex-direction: column;   
    }
    #clients .ad {
        margin: 35px auto !important ;
}

#clients {
    display: flex;
    flex-grow: 4; 
}

#clients .ad {
    display: flex;
    flex-grow: 1;
    margin: 50px auto;
    justify-content: center;
} 

@media (max-width:768px){
    #contact>.content {
    padding: 100px 0 !important ;
    }
    #contact .content-input{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #contact .content-input>.input-default {
        width: 100% !important;
    }
    #contact .content-input>.textarea-message {
        width: 100% !important;
    }
}

#contact {
    box-sizing: border-box;
    background-color: #222;
    background-image: url(http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/16/img/map-image.png);
}

#contact>.content {
    padding: 150px 0;
}

section#contact ::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

#contact .content-input{
    display: flex;
    justify-content: center;
}

#contact .content-input>.input-default {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    width: 40%;
}

#contact .content-input>.textarea-message {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    width: 40%;
}

#contact .content-input>.input-default input {
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 1.42857143;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#contact .content-input>.textarea-message textarea {
    padding: 20px;
    height: 237px;
    margin-bottom: 25px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 1.42857143;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    text-align: left;
    width: 100%; 
}

#contact .content>.input-botton{
    display: flex;
    justify-content: center;
}

@media (max-width:768px) {
    footer .content {
        display: flex;
        flex-direction: column !important ;
        align-content: center;
        justify-content: center;
    }
}

footer .content {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-grow: 3;
}

footer>.content>.text {
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
}

footer>.content>.content-link {
    flex-grow: 1;
    text-align: center;
    padding: 10px 0;
}

footer>.content .social-buttons {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    flex-grow: 1;
    align-items: center;
}

footer>.content>.text span {
    line-height: 40px;
    font-size: 14px;
    color: #333333;
}

footer>.content>.content-link>a {
    line-height: 40px;
    font-size: 14px;
    color: #fed136;
}

footer>.content .social-buttons> a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 8px;
    margin-right: 8px;
}

footer>.content .social-buttons> a:hover {
    background-color: #fed136;
}

footer svg {
    fill: white !important;
    height: 20px !important;
    width: auto !important;
}