*{
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}

a {
    text-decoration: none;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #333;
}

h3 {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin-top: 20px;
    margin-bottom: 75px;
    font-weight: 400;
}

header {
    height: 757px;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/16/img/header-bg.jpg)    
}

nav {
    display: flex;
    align-content: center;
    justify-content:space-between;
}

nav>.logo {
    padding: 30px;
}

nav>.logo>a {
    line-height: 20px;
    color: #fed136;
    height: 50px;
    font-size: 28px;
}

nav>tabbar {
    padding: 30px;      
}

nav>tabbar>a {
    color: white;
    padding: 15px;
    line-height: 15px;
    text-transform: uppercase;
}

header>.banner-text {
    text-align: center;
    padding-top: 217px;
    padding-bottom: 200px;
}

header>.banner-text>.banner-lead {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-style: italic;
    margin-bottom: 25px;
}

header>.banner-text>.banner-title { 
    color: white;
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
}

header>.banner-text>a {
    display: inline-block;
    text-transform: uppercase;
    background-color: #fed136;
    color: white;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 40px;
}

#sevices {
    height: 723px;
}

#sevices>.content {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-left: 48px;
    margin-right: 48px;
}

#sevices>.content>.row {
    display: flex;
    height: 267px;
}

#sevices>.content>.row>div {
    padding: 0 15px;
} 

#sevices .icon-content {
    width: 60px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 100%;
    background-color: #fed136;
}

#sevices .icon {
    width: 60px;
    height: 60px;
}

#sevices .icon-color{
    fill: white;
}

#sevices h4 {
    text-align: center;
    font-weight: 700;
    margin: 15px 0;
    color: #333;
}

#sevices p {
    text-align: center;
    color: #777;
    font-size: 14px;
    line-height: 1.75;
    margin-bottom: 10px;
}

